<!DOCTYPE html>
<html>
  <head>
    <title>Mails - Lazy Mails</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css' />
    <style>
      body {
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="ui secondary pointing menu">
      <a class="item" href="/">
        Home
      </a>
      <a class="active item" href="/admin/mailboxes">
        Mailboxes
      </a>
      <a class="item" href="/admin/users">
        Users
      </a>
    </div>

    <h1>Mails</h1>
    
    <table class="ui celled padded table">
      <thead>
        <tr>
          <th class="single line">ID</th>
          <th>Mail</th>
          <th>Mailbox</th>
          <th>Logos</th>
          <th>Categories</th>
          <th>Receiver</th>
          <th>Text</th>
          <th>Report</th>
          <th class="single line">Received At</th>
        </tr>
      </thead>
      <tbody>
        <% mails.map((mail) => {
          %>
          <tr>
            <td><%= mail._id %></td>
            <td>
              <a href="/<%= mail.code %>-mail.png" target="_blank">
                <img class="ui tiny image" src="/<%= mail.code %>-mail.png">
              </a>
            </td>
            <td>
              <a href="/<%= mail.code %>-mailbox.png" target="_blank">
                <img class="ui tiny image" src="/<%= mail.code %>-mailbox.png">
              </a>
            </td>
            <td>
              <% if (mail.logos) mail.logos.map((logo) => {
                %>
                <%= logo.desc %> (<%= logo.score %>)
                <br>
                <%
              }) %>
            </td>
            <td>
              <% if (mail.categories) mail.categories.map((category) => {
                %>
                <%= category.name %> (<%= category.score %>)
                <br>
                <%
              }) %>
            </td>
            <td><%= mail.receiver %></td>
            <td>
              <strong>
                <% mail.mainText.map((text) => {
                  %>
                  <%= text.text %>
                  <%
                }) %>
              </strong>
              <br><br>
              <%= mail.text %>
            </td>
            <td>
              <%= mail.reportedCategory ? 'Category: ' + mail.reportedCategory + '<br>' : '' %>
              <%= mail.reportedPhoto ? 'Incorrect Photo<br>' : '' %>
              <%= mail.reportedRecognition ? 'Incorrect Recognition' : '' %>
            </td>
            <td><%= mail.mailboxReceivedAt._i %></td>
          </tr>
          <%
        }) %>
      </tbody>
    </table>
  </body>
</html>

