<!DOCTYPE html>
<html>
  <head>
    <title>Mails - Lazy Mails</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css' />
    <style>
      body {
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Mails</h1>
    
    <table class="ui celled padded table">
      <thead>
        <tr>
          <th class="single line">ID</th>
          <th>Mail</th>
          <th>Mailbox</th>
          <th>Text</th>
          <th class="single line">Received At</th>
        </tr>
      </thead>
      <tbody>
        <% mails.map((mail) => {
          %>
          <tr>
            <td><%= mail._id %></td>
            <td>
              <a href="/<%= mail.code %>-mail.png" target="_blank">
                <img class="ui tiny image" src="/<%= mail.code %>-mail.png">
              </a>
            </td>
            <td>
              <a href="/<%= mail.code %>-mailbox.png" target="_blank">
                <img class="ui tiny image" src="/<%= mail.code %>-mailbox.png">
              </a>
            </td>
            <td><%= mail.text %></td>
            <td><%= mail.mailboxReceivedAt._i %></td>
          </tr>
          <%
        }) %>
      </tbody>
    </table>
  </body>
</html>

